html{
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	height: 100%;
	width: 100%;
	margin: 0px;
	background-image: url(../img/cl6.jpg);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	position: center;

}

#fondo-form{

	border:30px solid #ffffff;
	background: #ffffff;
	margin-top: 40px;
	border-width: 60px;
	width: 300px;
}

.divs-form {
	margin-bottom: 12px;
	position: center;
}

#title-form {
	font-size: 30px;
	color: #292929;
	text-align: center;
	margin-bottom: 50px;
}

.input-box, .select-box, #submit-button {
	width: 200px;
	height: 25px;
	font-size: 15px;
}

#submit-button{
	margin-bottom: 30px;
}

.clase-pacientes {
	border: solid 1px black;
	width: 200px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	margin-top: 35px;
	margin-bottom: 15px;
}

.span {
	color: #ff3f3f;
	font-size: 10px;
}

#alerta{
	text-align: center;
}